{
	"token": "BotUserTokenHere",
	"channels": {
		"ChannelIdToMonitor": {
			"reacts": {
				"👍": ChannelIdForGoodMemes",
				"👎": ChannelIdForBadMemes"
			},
			"whitelist": ["InformationalMessageToKeep"]
		}
	},
	"immediate": false
}
