{
	"token": "BotUserTokenHere",
	"channels": {
		"ChannelIdToMonitor": {
			"reacts": {
				"👍": ChannelIdForGoodMemes,
				"👎": ChannelIdForBadMemes,
				"<:custom:": "delete"
			},
			"infochan": ChannelIDForAlerts
			"whitelist": [InformationalMessageIDToKeep],
			"target": SecondsAfterOnly1VoteNeeded
		}
	},
	"immediate": false,
	"refresh_interval": SecondsToScrapBacklog,
	"max_size": 8000000,
	"alert": "⚠"
}
